
body {
  overflow-x: hidden;
}


#carrosel{
  width: 100vw; /* 100% da largura da viewport */
  height: 100vh;
  background-image: url(src/Fundo.jpeg);
  background-size: cover; /* Faz a imagem preencher toda a área */
  background-repeat: no-repeat; /* Evita repetição da imagem */
}

#sobre{
    background-color: #09509E;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;     /* Centraliza horizontalmente */
    align-items: center; 
}

#fundoTexto{

  background-color: black;
  height: 500px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;

}


/* Estilos para telas menores que 768px (celulares) */
@media only screen and (max-width: 768px) {
  #fundoTexto {
    width: 90%;  /* Ajuste de largura para telas pequenas */
    height: auto;  /* Deixe a altura ajustar automaticamente */
  }
  
  #carrosel {
    height: 50vh; /* Reduza a altura do carrocel em telas pequenas */
  }
}

/* Estilos para telas menores que 1024px (tablets) */
@media only screen and (max-width: 1024px) {
  #fundoTexto {
    width: 95%;  /* Mais flexibilidade para tablets */
  }
}
