/* =============== FONTS =============== */

@font-face {
    font-family: 'Google Sans';
    src: url('src/assets/fonts/google-sans/ProductSans-Light.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal; 
}

@font-face {
  font-family: 'Din Next';
  src: url('src/assets/fonts/din-next/DIN Next LT Arabic Bold/Web Fonts/513071b47bdba774c93a73ad16a75e3b.eot') format('embedded-opentype');
  src: url('src/assets/fonts/din-next/DIN Next LT Arabic Bold/Web Fonts/513071b47bdba774c93a73ad16a75e3b.svg') format('svg');
  src: url('src/assets/fonts/din-next/DIN Next LT Arabic Bold/Web Fonts/513071b47bdba774c93a73ad16a75e3b.ttf') format('truetype');
  src: url('src/assets/fonts/din-next/DIN Next LT Arabic Bold/Web Fonts/513071b47bdba774c93a73ad16a75e3b.woff') format('woff');
  src: url('src/assets/fonts/din-next/DIN Next LT Arabic Bold/Web Fonts/513071b47bdba774c93a73ad16a75e3b.woff2') format('woff2');
  src: url('src/assets/fonts/din-next/DIN Next LT Arabic Bold/Web Fonts/513071b47bdba774c93a73ad16a75e3b.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal; 
}

/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Garante que padding e border não afetem o tamanho dos elementos */
}

body {
  overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
  font-family: Arial, sans-serif; /* Fonte legível para todo o site */
}

/* Fixar a navbar no topo */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Garante que a navbar fique sobre outros elementos */
  transition: background-color 0.3s ease; /* Transição suave ao rolar */
}


/* CSS do BootStrap*/
.navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  color: whitesmoke; /* Usando a cor de ênfase do Bootstrap */
}
.dropdown-menu {
  color: grey; /* Usando a cor de ênfase nas opções do dropdown */
}

.navbar-brand {
  margin-left: 0; /* Ajuste o valor conforme necessário */
  padding-left: 100px; /* Aumenta o espaço interno à esquerda */
}

#hero {
  position: relative;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

#hero video.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  object-fit: cover;
  z-index: -1; 
}

.hero-content {
  position: relative;
  z-index: 1;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
  font-family: 'Din Next';
  font-size: 80px;
  letter-spacing: 4px;
}

.hero-content p {
  font-family: 'Google Sans', sans-serif;
  font-size: 20px;
}

.hero-content button {
  font-family: 'Google Sans', sans-serif;
  letter-spacing: 1px;
}

.discover-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.discover-button:hover {
  background-color: #e2dfdf;
}


/* Seção Sobre */
#sobre {
  background-color: #F5F5F5;
  min-height: 100vh; /* Garante que ocupe a tela inteira */
  display: flex;
  flex-direction: row; /* Alinha as divs lado a lado */
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#fundoTexto, #crianca {
  background-color: black;
  min-height: 400px; /* Altura mínima para manter consistência */
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  text-align: center; /* Centraliza o texto dentro da div */
  box-sizing: border-box; /* Inclui o padding no cálculo da largura */
  border-radius: 10px; /* Um leve arredondamento para suavizar */
  border-style: solid;
  margin: 0px; /* Espaçamento entre as divs */
}

#fundoTexto {
  background-color: black;
  border-color: white;
}

.textoSobre {
  font-family: 'Google Sans', sans-serif;
}

#crianca {
  background-image: url(src/image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 135%;
  background-color: #333; /* Ajuste de cor para diferenciação */
}


h3{
  font-size: 20px;
}

/* ================ FOOTER ================ */ 

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
margin-top: 700px;
background: #151414;
position: relative;
font-family: 'Poppins', sans-serif;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #09509E;;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}

.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #09509E;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #09509E;;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #09509E;
  padding: 13px 20px;
  border: 1px solid #09509E;;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #09509E;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #09509E;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
.instagram-gallery {
  display: flex;
  gap: 10px; /* Reduz o espaço entre as colunas */
  margin-top: 10px;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaço entre as imagens na coluna */
}

.instagram-gallery img {
  width: 100%; /* Ajusta as imagens para preencher o contêiner */
  max-width: 150px;
  border-radius: 5px;
  object-fit: cover;
}

footer .wave {
  position: absolute !important;
  top: -100px !important;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(src/assets/img/wave1.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}


footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0%
      {
        background-position-x: 1000px;
      }
    100%
    {
        background-position-x: 0px;
    }
}


@keyframes animateWave_02 {
  0%
    {
      background-position-x: 0px;
    }
  100%
  {
      background-position-x: 1000px;
  }
}

/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.parallax {
  background-image: url('src/assets/img/futebol-1.jpg'); 
  height: 75vh; 
  background-attachment: fixed; 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  text-align: center;
  position: relative; 
}

.parallax::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.parallax-title {
  font-family:'Din Next';
  font-size: 2rem; 
  z-index: 2; 
  text-transform: uppercase;
}

.parallax-content {
  z-index: 2; 
  position: relative; 
}

#concept {
  width: 100%;
}

.section-title {
  margin-bottom: 4rem !important;
  font-family: 'Google Sans';
  font-size: 27px;
}

.content-title {
  margin-top: 0.5rem;
  margin-bottom: 3rem; 
  font-family: 'Din Next', sans-serif;
  font-size: 36px; 
}

#projetos p {
  font-family: 'Google Sans', sans-serif;
  font-size: 17px; 
  margin-bottom: 0.5rem; 
  margin-right: 2rem;
}

#oficina p {
  font-family: 'Google Sans', sans-serif;
  font-size: 17px; 
  margin-bottom: 0.5rem; 
  margin-right: -2rem;
}

.projetos-img {
  width: 95%; 
  max-width: 95%; 
  height: auto; 
  margin-left: 1.7rem !important;
  display: block;
}

.oficina-img {
    width: 95%;  
    max-width: 95%; 
    height: auto; 
    margin-right: 1rem !important;
    display: block;
}

.saiba-mais-texto {
  text-transform: uppercase;
  font-family: 'Google Sans', sans-serif;
  font-size: 1.1rem; 
  color: #000; 
  font-weight: bold; 
  cursor: pointer;
  display: inline-block; 
  text-decoration: none; 
  margin-bottom: 4px; 
}

.saiba-mais-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.linha-animada {
  width: 100%; 
  height: 2px;
  background-color: #1163b9; 
  transition: width 0.5s ease; 
}

.saiba-mais-container:hover .linha-animada {
  width: 50%; 
}

#projetos {
  margin-bottom: 6rem !important; 
}

#image-row {
  margin-top: 5rem !important;
  display: flex;
}

.darken-img {
  width: 25%;
  height: auto;
  filter: brightness(0.5); 
  padding: 0;
  margin: 0;
  object-fit: cover;
  transition: filter 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
}

.darken-img:hover {
  filter: brightness(1); 
}


